.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px 16px;
  margin-bottom: 32px;
}

.option {
  padding: 12px 24px;
  border: 1px solid #2e2f42;

  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  background-color: #2e2f42;
  color: #ad9898;
  transition: all 250ms ease-in-out;
}

.option:hover {
  background-color: transparent;
  color: #2e2f42;
  scale: 1.1;
}
